PORT=
POSTGRES_PORT=5433
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=api_gateway
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN="15m"
MS_ENTIDADES_CORE_URL=
MS_REPORTES_URL=http://host.docker.internal:3006/api/v1
MS_INTEGRACIONES_URL=http://host.docker.internal:3009/api/v1
CORS_ORIGIN="*"

